.container{
  max-width: 1200px;
  width: 100%;
  margin: 20px auto;
}
.container table{
  margin-top: 20px;
  width: 100%;
  text-align: center;
}
table td,th {
  padding: 20px;
  
}
td:nth-child(5) a {
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  margin:  0 10px;
}
td:nth-child(5) a:nth-child(1){
  background-color: blue;
}
td:nth-child(5) a:nth-child(2){
  background-color: Green;
}
td:nth-child(5) a:nth-child(3){
  background-color: Red;
}
thead tr:nth-child(1) {
  background-color: orange;
}
tr:nth-child(odd){
  background-color: aquamarine;
}
tr:nth-child(even){
  background-color: rgb(97, 170, 146);
}
.addUserButton{
  background-color: cornflowerblue;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin-left: 2px;
}

.form-container{
  max-width: 500px;
  width: 100%;
  margin: 50px auto;
  border: 2px solid black;
  padding: 30px;

}
.form-container form{ 
  margin: 0 auto;
  width: 100%;
  /* padding: 30px; */
}
.form-container form input {
  margin: 10px 10px;
  padding: 10px 5px;

}